<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
    <h1>Тут находится наши товары</h1>
<body>
    <img src="https://gas-kvas.com/grafic/uploads/posts/2023-09/1695916886_gas-kvas-com-p-kartinki-banan-29.jpg" width="300" height="200">
    <a href="kup">Купить</a>
    <h2>банан кг 500 тг</h2>
    <img src="https://avatars.mds.yandex.net/i?id=0f0c42294505a744144a88490994b59c_l-4592245-images-thumbs&n=13" width="300" height="200">
    <a href="kup">Купить</a>
    <h2>помидор кг 700 тг</h2>
    <img src="https://img.freepik.com/free-photo/cucumber-isolated_93675-131293.jpg" width="300" height="200">
    <h2><a href="kup">Купить </a></h2>
    <h2>Огурцы кг 600 тг</h2>



</body>
</html>